
<div>
  <checklist :title="$t('Basic Usage')" required :options="commonList" v-model="checklist001" @on-change="change"></checklist>

  <checklist :title="$t('handle errors')" required :options="commonList" show-error v-model="checklist0011" @on-change="change" @on-error="onError" @on-clear-error="onNoError" name="demo1" :max="2">
    <p slot="footer" v-show="error" class="error">{{error}}</p>
  </checklist>

  <checklist :title="$t('preselect China and Japan')" :options="commonList" v-model="checklist002" @on-change="change"></checklist>

  <checklist :title="$t('set max=2')" :options="commonList" v-model="checklist003" :max=2 @on-change="change"></checklist>

  <checklist :title="$t('set random order')" random-order :options="checklist005" v-model="checklist005Value" @on-change="change"></checklist>

  <checklist :title="$t('Option Array with key and value(key must be string)')" :options="objectList" v-model="objectListValue" @on-change="change"></checklist>

  <checklist :title="$t('Async list')" :max="3" :options="asyncList" v-model="asyncListValue" @on-change="change"></checklist>

  <divider>Reference</divider>
  <group title="See also">
    <cell title="Checker" value="with which you can custom any style" is-link link="/component/checker"></cell>
  </group>
</div>
