
<div>
  <group>
    <x-switch :title="$t('Toggle')" v-model="show"></x-switch>
  </group>
  <confirm v-model="show" :title="$t('confirm deleting the item')"
  @on-cancel="onCancel"
  @on-confirm="onConfirm"
  @on-show="onShow"
  @on-hide="onHide">
    <p style="text-align:center;">{{ $t('Are you sure?') }}</p>
  </confirm>
  <br>
  <div style="padding:15px;">
    <x-button @click.native="showPlugin" type="primary">Show</x-button>
  </div>
  <div style="padding:15px;">
    <x-button @click.native="showPlugin2" type="primary">Hide after 3s</x-button>
  </div>
  <div style="padding:15px;">
    <x-button @click.native="showPlugin3" type="primary">Hide On Blur</x-button>
  </div>
</div>
